/* Styles for the header element */

header {
    background-color: #000000;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;

    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-position: left 20px center;
}
