/* CSS styles sheet for filters class */

.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}

.filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border-radius: 4px;
    padding: 30px 0;
}

.filters button:hover {
    opacity: 90%;
}

.filters button span {
    text-align: center;
}

.filters locations, .filters amenities {
    height: 100%;
    width: 25%;
}

.filters locations {
    border-right: 1px solid #DDDDDD;
}

.filters h3 {
    font-weight: 600;
}

.filters h4 {
    font-weight: 400;
    font-size: 14px;
}

.filters .popover {
    width: 100%;
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    color: black;
    float: left;
    padding-bottom: 30px;
}

.filters .popover h2 {
    font-size: 16px;
}

.popover ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.popover li {
    text-indent: 40px;
}

.locations:hover .popover,
.amenities:hover .popover {
    display: table-cell;
}
