.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
}

.filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: 0;
    border-radius: 4px;
    position: absolute;
    top: 10px;
    right: 30px;
}

.filters button:hover {
    opacity: 90%;
}

.filters button span {
    text-align: center;
}

.filters .locations, .filters .amenities {
    height: 100%;
    width: 25%;
    text-indent: 40px;
}

.filters .locations {
    border-right: 1px solid #DDDDDD;
    left: 5%;
}

.filters h3 {
    font-weight: 600;
    margin-bottom: -15px;
}

.filters h4 {
    font-weight: 400;
    font-size: 14px;
}

.filters .locations .popover,
.filters .amenities .popover {
    display: none;
    width: inherit;
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position: absolute;
    margin-top: -0.35%;
}

.locations .popover h2 {
    font-size: 16px;
    margin-bottom: 2%;
}

.filters .locations:hover ul {
    list-style: none;
    margin-bottom: 20px;
    padding: 0;
}

.locations:hover .popover ul {
    padding-left: 10px;
}

.filters .amenities:hover ul {
    list-style: none;
    margin-bottom: 20px;
    padding: 0px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.filters .amenities:hover .popover li {
    padding-bottom: 5px;
}

.filters .locations:hover .popover li {
    text-indent: 40px;
}

.filters .locations:hover .popover,
.filters .amenities:hover .popover {
    display: block;
}
